    
</main>

<script src="/js/toggle.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
<div class="footer-container dark-mode" id="footer">
    <footer>
        <div class="footer-columns">
            <div class="footer-column">
                <h3>About Me</h3>
                <p style="white-space: normal;">Motivated lady with a creative mind, looking for a job to put her skills to use</p>
                    <button class="button" role="button" onclick="scrollToTop()">
                        Back to the top
                    </button>
            </div>
            <div class="footer-column">
                <h3>Contact Us</h3>
                <p>Email: info@example.com</p>
                <p>Phone: 123-456-7890</p>
                <a href="https://www.vecteezy.com/free-vector/check-mark">Book icon credits</a>
            </div>
            <div class="footer-column">
                <h3>Support</h3>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>&copy; 2024 Your Website Name. All Rights Reserved.</p>
            </div>
        
        
    </div>
   
        
    </footer>
    <!--<h1 id="logo-art" class="poppins-bold"> Ella's Book Review</h1>-->
    
</div>