<div class="spaceUnderHeader">
</div>

<div class="about-Me">
    <h1 id="hero-title">Ella's Book Reviews</h1>
    <br/>
    <p id="hero-editors-note" style="text-decoration: underline;">*this was never meant to be published ...</p>
    <br/>
    <h4 id="hero-text">Starting on february 2023, I wanted to explore the world of books. I had never been a fan of reading, I would argue school hadn't presented it in the best of ways. 
        <br/> During this moment, I found myself with a lot of time on my hands. I discovered I loved to learn new things, something I now had to manage and motivate myself to do. This lead me into dipping my toes into the 'self-help' waters. A handful of fantastic books to kick start my journey, dragged me into this amazing world of discovery, questions and knowledge. Bubbling in excited to share all that I learnt, I decided to write a personal 'review' to avoid forgetting my thoughts about each book. Enjoy!</h4>
        <br/>
    
    <div class="options-flexbox">
        <button class="button option-buttons dark-button poppins-bold" id="scroll" role="button" onclick="scrollToBottom()">
            Scroll to the Bottom
        </button>
        <div class="form-flexbox">
            <form action="/" method="GET"> 
                <select id="filter" name="filter" class="poppins-bold">
                    <option value="">  Filter by ... </option>  
                    <option value="ORDER BY date ASC"> Date Ascending </option>  
                    <option value="ORDER BY date DESC"> Date Descending </option>  
                    <option value="ORDER BY rating ASC"> Lowest Rated  </option>  
                    <option value="ORDER BY rating DESC"> Highest Rated</option>
                </select>  
                <button class="option-buttons dark-button poppins-bold" id="filter-button" type="submit">Filter</button>
            </form>
        </div>
    </div>
</div>